
html body {
    height: 100vh;
}

body {
    width: 60%;
    margin: auto;
    line-height: 30px;

}

#header ul li {
    display: inline;
    margin: 30px 10px 30px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0.1em 0.1em 1.6em lightpink;
}

#header ul li :hover {
    box-shadow: 0 0 0.8em blue;
}

#header {
    background-color: #dae05a;
}

ul li a {
    text-decoration: none;
    color: palevioletred;
    list-style-type: none;
}

#left {
    float: left;
    background-color: #ffc05f;
    width: 20%;
    margin: 0;
    height: 400px;
}

#left ul li {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 10px;
}

#left ul li:hover {
    text-decoration: underline;
}

#content {
    float: left;
    background-color: #3dd5f3;
    width: 60%;
    margin: 0;
    height: 400px;
    text-align: center;
    color: palevioletred;


}

#right {
    float: right;
    background-color: #78ffc8;
    width: 20%;
    margin-bottom: 20px;
    height: 400px;
}

#right .AD {
    width: 100px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
    border: 1px solid #d780a1;
    text-align: center;
    border-radius: 10%;
    color: #d780a1;
}

.AD:hover {
    background-color: #ffb6b9;
    font-weight: bold;
}

#footer {
    clear: both;
    height: 50px;
    background-color: #f4bfbf;
    text-align: center;
    padding-top: 10px;
    color: peru;
}

#s-body {
    height: 100%;
}

#login {
    position: relative;
    left: 225px;
}

@media only screen and (max-width: 1100px) {

    #login {
        position: relative;
        left: 10px;
    }

    #header ul li {
        font-size: small;
        margin-left: 30px;
    }

    #right .AD {
        width: 70px;
        height: 25px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 20px;
        border: 1px solid #d780a1;
        text-align: center;
        border-radius: 10%;
        color: #d780a1;
    }

    #footer, #left, #right, #header {
        background-color: black;
        border: 1px solid #f756c1;
        margin: 0;
    }

    #content {
        width: 58.9%;
        background-color: #f756c1;
        color: black;
        border: #f756c1;
        height: 400px;
        border: 1px solid #f756c1;
    }

    ul li a {
        color: #f756c1;
    }

    #footer {
        color: #f756c1;
    }

    #header ul li {
        text-shadow: 0.1em 0.1em 1.6em #f756c1;

    }
    div .AD:hover {
        font-weight: bold;
        animation-name: example;
        animation-duration: 4s;
    }
    @keyframes example {
        from {background-color: black;}
        to {background-color: #ffa6fc;}
    }
}