* {
    text-align: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
header {
    border: solid; color: #ff333a;
    background-color: #000793;
    height: fit-content;
    padding: 27px;
    text-align: center;
}
.blink-bg{
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}
section {
    width: 1200px;
    display: flex;
}
@keyframes blinkingBackground{
    0%		{ background-color: #10c018;}
    25%		{ background-color: #1056c0;}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: #254878;}
    100%	        { background-color: #04a1d5;}
}